/target
**/*.rs.bk
Cargo.lock
test/out.wav
golden/
!soundkit-decoder/testdata/golden/
.idea/
.vscode/
# Ignore most testdata but allow specific test files
testdata/*
!testdata/mp3/
testdata/mp3/*
!testdata/mp3/A_Tusk_is_used_to_make_costly_gifts.mp3
!testdata/flac/
testdata/flac/*
!testdata/flac/A_Tusk_is_used_to_make_costly_gifts.flac
!testdata/mac_aac/
testdata/mac_aac/*
!testdata/mac_aac/A_Tusk_is_used_to_make_costly_gifts.m4a
!testdata/opus/
testdata/opus/*
!testdata/opus/A_Tusk_is_used_to_make_costly_gifts.opus
!testdata/ogg_opus/
testdata/ogg_opus/*
!testdata/ogg_opus/A_Tusk_is_used_to_make_costly_gifts.ogg
!soundkit-decoder/testdata/
soundkit-aac/outputs/
soundkit-flac/outputs/
soundkit-mp3/outputs/
soundkit-opus/outputs/
soundkit-ogg-opus/outputs/
